<div class="container">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h5 class="card-title mb-0"><i class="fas fa-graduation-cap"></i> Education</h5>
        </div>
        <div class="card-body">
            <ul>
                <li class='mb-1'><b>College</b> (69%) - Computer Science Engineering, Dhanalakshmi College Of Engineering, Tambaram.</li>
                <li class='mb-1'><b>12th</b> (83.67%) - MPC, Kaligi Ranganathan, Montford, Mat. Hr. Src. School, Perambur.</li>
                <li class='mb-1'><b>10th</b> (81.6%) - Kaligi Ranganathan, Montford, Mat. Hr. Src. School, Perambur.</li>
            </ul>
        </div>
    </div>
</div>